body {
  font-family: sans-serif;
  line-height: 1.4;
}

article {
  border: 4px solid black;
}

.product-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  background-color: #f7f7f7;
}

.price {
  font-size: 24px;
}

.free-shipping {
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* button */
.add-button {
  color: white;
  background-color: black;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.add-button:hover {
  color: black;
  background-color: white;
}

/* */
.product-details {
  text-transform: uppercase;
  font-size: 16px;
}

.product-list {
  list-style: square;
}
