/* =================================  */
/*  HEADER                            */
/* =================================  */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/* =================================  */
/*  NAVIGATION                        */
/* =================================  */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  text-decoration: none;
  color: #cf711f;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

/* use both selector to have a greater specificity than the one above. */
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #e67e22;
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* =================================  */
/*  HERO SECTION                      */
/* =================================  */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  /* use max-width to adapt on smaller screen */
  max-width: 130rem;
  display: grid;
  /* center in the viewport */
  margin: 0 auto;

  /* useful when the page is not full-screen */
  padding: 0 3.2rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}


.hero-description {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 4.8rem;
}



.hero-img {
  /* occupy all the space in the grid */
  width: 100%;
}



.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  /* 50% ok since is squared */
  border-radius: 50%;

  /* overlap with the other image */
  margin-right: -1.6rem;

  border: 2px solid #fdf2e9;
}

/* remove the negative margin to last child so that the 2 items in the flex container
have a visible gap */
.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  font-weight: 700;
  color: #cf711f;
}


/* =================================  */
/*  HOW IT WORKS SECTION              */
/* =================================  */

.section-how {
  padding: 9.6rem 0;
}

/* .section-how div div {
  padding: 10rem;
  font-size: 5rem;
  background-color: #555;
} */

/* .section-how div:nth-child(1) {
  background-color: aqua;
}

.section-how div:nth-child(2) {
  background-color: greenyellow;
}
.section-how div:nth-child(3) {
  background-color: rebeccapurple;
}
.section-how div:nth-child(4) {
  background-color: whitesmoke;
}
 */

.step-image-box {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.step-image-box::before,
.step-image-box::after {
  content: "";
  display: block;
  
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-image-box::before {
  width: 60%;
  /* not works
   height: 60%; */
   /* percentage of parent's width - height is 0, but with the padding is like
      it's a square! */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;

}

.step-image-box::after {
  width: 50%;
  /* not works
   height: 60%; */
   /* percentage of parent's width - height is 0, but with the padding is like
      it's a square! */
  padding-bottom: 50%;
  background-color: #fae5d3;
  z-index: -1;
}


.step-img {
  width: 35%;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color:#ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  line-height: 1.8;
  font-size: 1.8rem;
}
